// -------------------------
// FOOTER
// -------------------------

// Footer CONSTRUCTION
footer{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  min-height: 70px;
  background-color: #121212;
  padding: 20px 20px 13px;
  .crj-terms{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    p{
      font-family: $Gotham-Bd;
      font-size: 13px;
      color: $thet-primary;
      a{
        font-family: $Gotham-Bk;
        font-size: 13px;
        color: #fff;
      }
    }
  }
  .developed-thet{
    text-align: center;
    p{
      font-family: Arial;
      display: inline-block;
      margin-right: 10px;
      font-size: 14px;
    }
    img{
      width: 35px;
      display: inline-block;
      -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
      filter: grayscale(100%);
      margin-top: -5px;
    }
    a{
      color: #949494;
      &:hover, &:focus, &:visited{
        color: #fff;
      }
      p{
        color: #949494;
      }
      &:hover{
        p{
          color: white;
        }
        img{
          -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
          filter: grayscale(0%);
        }
      }
    }
  }
}



// RESPONSIVE
@media (min-width: 768px){
	footer{
    .crj-terms{
      margin-top: 10px;
      margin-bottom: 0px;
      float: left;
      a{
        font-size: 9px;
      }
    }
		.developed-thet{
			text-align: right;
		}
	}
}

