
/*FORM*/

.form-group {
    margin-bottom: 0px;
}
.form-control{
    border: 1px solid #ddd;
    &:focus{
        border-color: #909090;
    }
    &:hover{
        border-color: #ccc;
    }
}
.search-form{
    padding: 7px 8px 8px;
	input{
	    height: 35px;
	    width: 100%;
        padding: 0px 15px;
        font-size: 16px;
        border: none;
        background: #eee;
        color: #404040;
	}
}
.subscribe-form{
    > a{
        position: absolute;
        top: 2px;
        right: 35px;
        z-index: 9999;
        i{
            font-size: 1.5em;
            &:hover{
                color: #000;
            }
        }
    }
    &:hover{
        .fa.fa-square {
            color: #ccc;
        }
    }
}