// -------------------------
// BUTTONS
// -------------------------

.btn{
    font-size: 12px;
    border: none;
    border-radius: initial;
    text-transform: uppercase;
}
.btn-primary {
    color: #fff;
    background-color: #000;
    &:hover, &:focus, &:active{
        color: #fff;
        background-color: #404040 !important;
    }
}
.btn-secondary{
    font-size: 15px;
    font-family: $primary-Md;
    color: #fff;
    background-color: #B473B2;
    border-color: #B473B2;
}
.btn-subscription {
    position: absolute;
    bottom: 20%;
    left: 50%;
    height: 28px;
    width: 100px;
    margin: -14px 0 0 -50px;
    border-radius: initial;
}
.btn-block{    
    font-family: $primary-Bd;
    font-size: 16px;
    padding: 16px 0px;
}
.btn-block-sm{
    padding: 6px 60px;
}